
<header class="header">
    <nav class="navbar">
        <a class="header-link-logo menu-link" asp-action="Home">Love First</a>
        <a class="menu-link" asp-action="History">История</a>
        <a class="menu-link" asp-action="Settings">Настройки</a>
    </nav>
</header>