@model List<OperationsViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>History</title>
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    @await Html.PartialAsync("../Shared/Header.cshtml")
    <main class="main">
        <div class="container">
            <table class="table">
                <thead class="table-head">
                    <tr>
                        <th>Номер операции</th>
                        <th>Имя участника</th>
                        <th>Баллы</th>
                        <th>Дата операции</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    @for (int i = Model.Count()-1; i >= 0; i--)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@Model[i].NameParticipant</td>
                            <td>@Model[i].Score</td>
                            <td>@Model[i].DateOperation.ToString("dd MMM yy hh:mm")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</body>
</html> 