@model List<Participants>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>History</title>
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    @await Html.PartialAsync("../Shared/Header.cshtml")
    <main class="main">
        <div class="container">
            <div>
                @foreach (Participants participant in Model)
                {
                    <p>@participant.NameParticipant</p>
                    <a href=""><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.3474 1.80815e-08C13.6127 -5.04074e-05 13.8672 0.10537 14.0548 0.293048L17.7073 3.9471C18.0976 4.33759 18.0976 4.97051 17.7073 5.361L7.36586 15.707C7.17831 15.8946 6.92389 16 6.6586 16H3C2.44772 16 2 15.5523 2 15V11.36C2 11.0949 2.10519 10.8408 2.29247 10.6533L12.64 0.293317C12.8275 0.105568 13.082 5.04436e-05 13.3474 1.80815e-08ZM13.3478 2.41479L4 11.7738V14H6.24426L15.5861 4.65405L13.3478 2.41479ZM0 19C0 18.4477 0.447715 18 1 18H19C19.5523 18 20 18.4477 20 19C20 19.5523 19.5523 20 19 20H1C0.447715 20 0 19.5523 0 19Z" fill="#D0D0D0" /></svg></a>
                    <a href=""><svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.23317 0.732233C5.70201 0.263392 6.3379 0 7.00094 0H11.5009C12.164 0 12.7999 0.263392 13.2687 0.732233C13.7375 1.20107 14.0009 1.83696 14.0009 2.5V3L16 3C16.0003 3 15.9997 3 16 3C16.0003 3 16.0016 3 16.0019 3L17.5 3C18.0523 3 18.5 3.44772 18.5 4C18.5 4.55228 18.0523 5 17.5 5H17.0009V18.25C17.0009 18.7141 16.8166 19.1592 16.4884 19.4874C16.1602 19.8156 15.7151 20 15.2509 20H3.25094C2.78681 20 2.34169 19.8156 2.0135 19.4874C1.68531 19.1592 1.50094 18.7141 1.50094 18.25V5H1C0.447716 5 1.78814e-07 4.55229 0 4C-1.19209e-07 3.44772 0.447715 3.00001 1 3L2.49796 3C2.49895 3 2.49995 3 2.50094 3C2.50193 3 2.50292 3 2.50391 3L4.50094 3V2.5C4.50094 1.83696 4.76433 1.20107 5.23317 0.732233ZM3.50094 5V18H15.0009V5L3.50094 5ZM12.0009 3L6.50094 3V2.5C6.50094 2.36739 6.55362 2.24022 6.64738 2.14645C6.74115 2.05268 6.86833 2 7.00094 2H11.5009C11.6335 2 11.7607 2.05268 11.8545 2.14645C11.9483 2.24021 12.0009 2.36739 12.0009 2.5V3ZM7.00094 7.5C7.55322 7.5 8.00094 7.94772 8.00094 8.5V14.5C8.00094 15.0523 7.55322 15.5 7.00094 15.5C6.44865 15.5 6.00094 15.0523 6.00094 14.5V8.5C6.00094 7.94772 6.44865 7.5 7.00094 7.5ZM11.5009 7.5C12.0532 7.5 12.5009 7.94772 12.5009 8.5V14.5C12.5009 15.0523 12.0532 15.5 11.5009 15.5C10.9487 15.5 10.5009 15.0523 10.5009 14.5V8.5C10.5009 7.94772 10.9487 7.5 11.5009 7.5Z" fill="#D0D0D0" /></svg></a>
                }
                <a asp-action="AddParticipant">Добавить нового участника</a>
            </div>

            <div>
                <form asp-action="AddParticipant" method="post">
                    <div>
                        <label>Имя участника</label>
                        <input type="text" name="nameParticipant" id="nameParticipant"/>
                    </div>
                    <div>
                        <label>Начальные баллы</label>
                        <input type="number" name="numberScore" id="numberScore"/>
                    </div>
                    <div>
                        <button type="submit">Создать</button>
                    </div>
                </form>
            </div>

            <a class="log-off" asp-controller="Auth" asp-action="LogOff">Выйти из прифиля</a>
        </div>
    </main>
</body>
</html> 