@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <main class="main">
        <div class="auth-container">
            <form class="auth-form" asp-controller="Auth" asp-action="Login" method="post">
                <span class="auth-result">@ViewBag.result</span>
                <div class="auth-group">
                    <input class="form-input" asp-for="Login" placeholder="Login"/>
                    <span asp-validation-for="Login"></span>
                </div>
                <div class="auth-group">
                    <input class="form-input" asp-for="Password" placeholder="Password"/>
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="auth-button">
                    <button class="form-button" type="submit">Войти</button>
                </div>
            </form>
            <a class="reg" asp-action="Registration">Создать новый аккаунт?</a>
        </div>
    </main>
</body>
</html> 