@model ProfileViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <main class="main">
        <div class="container">
            <form asp-controller="Auth" asp-action="Registration" method="post">
                <span>@ViewBag.result</span>
                <div>
                    <label>Введите логин</label>
                    <input asp-for="Login" />
                    <span asp-validation-for="Login"></span>
                </div>
                <div>
                    <label>Придумайте пароль</label>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div>
                    <label>Подтвердите пароль</label>
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <div>
                    <button type="submit">Создать</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html> 